= form_for item, :html => { :multipart => true, :class => 'admin' } do |f|
	-if item.errors.any?
		#error_explanation
			%h2= "#{pluralize(item.errors.count, "error")} prohibited this item from being saved:"
			%ul
				- item.errors.full_messages.each do |msg|
					%li= msg
				
	= f.hidden_field :parent_id
	
	.field
		= f.label :name
		= f.text_field :name
	.field
		= f.label :price
		= f.text_field :price
	.field
		= f.label :stock
		= f.text_field :stock
	.field
		= f.label :postage
		= f.text_field :postage
	.field
		= f.label :description
		= f.text_area :description
	.field.media
		.meta
			= f.label :category_ids, 'Categories'
		.body
			- Category.all.each_with_index do |c, idx|
				.field
					= label_tag "item_category_ids_#{idx}", c.name
					= check_box_tag 'item[category_ids][]', c.id, @item.categories.include?(c), :id => "item_category_ids_#{idx}"
	.field
		= f.label :image
		= f.file_field :image
	.field
		= f.label :delete_image, 'Delete Image?'
		= f.check_box :delete_image
	.actions
		= f.submit 'Save'