= title @item.name

%div.item
	%a{:href => @item.image.url}
		%img{:src => @item.image.url(:thumb), :class => 'fancy-border'}
	:markdown
		#{@item.description}
		
	%p.price
		=ntc @item.price
	= button_to 'Add to Basket', line_items_path(:item_id => @item)
	
	%div.clearfix

	= link_to 'Edit', edit_item_path(@item)
	= link_to 'Destroy', item_path(@item), :confirm => "Delete item '#{@item.name}'?", :method => :delete
