!!!
%html
	%head
		%meta{:charset => 'utf-8'}
	
		%title
			=content_for?(:title) ? yield(:title) + ' | ' : ''
			=t :store_name, :scope => 'views.application'

		= stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
		/[if IE]
			= stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
		
		= csrf_meta_tag
		
		= javascript_include_tag 'modernizr'
	%body
		.wrap
		
			%header
				.ninesixty
					%h1
						%a{:href => root_path, :title => 'Home'}
							=t :store_name, :scope => 'views.application'
		
					%nav
						%ul
							= render 'shared/navigation', :basket => current_basket

			.content.ninesixty
	
				.grid_9
					.main
	
						- flash.each do |key, msg|
							%div{:id => key}
								= msg
						
						-# javascript page classification, see application helper
						%span{:id => 'classifier', :class => classifier_class}
						
						= yield
				
				%div.sidebar.grid_3
					= render 'shared/sidebar'
		
			.push
		
		%footer
			.ninesixty
				%span
					=t :store_owner, :scope => 'views.application'
					&copy;
					= Time.now.year
				%span.right
					- if admin_signed_in?
						= link_to 'Logout', destroy_admin_session_path
					- else
						= link_to 'Login',  new_admin_session_path
		
		= javascript_include_tag 'jquery', 'rails', 'jquery.color', 'lightbox', 'application'